@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 500ms ease-in-out;
}

summary {
  display: block;
  position: relative;
  cursor: pointer;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
  display: inline;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#00E0C7, #5761B2);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
  display: inline;
}

@layer base {
  :root {
    --color-primary: #5761B2;
    --color-secondary: #1FC5A8;
    --color-selection-forground: #00E0C7;
    --color-selection-background: #292C35;
    --color-dark:#17181D ;

    --color-fill-base1: #E09145;
    --color-fill-base2: #FCD9B8;
    --color-fill-base3: #00FFFF;
  }
}
